<details>
    <summary><span lang="en">Some details can't hurt!</span><span lang="fr">Certains détails ne font pas de
            mal!</span><span lang="ar" dir="rtl">بعض التفاصيل</span></summary>
    <table id="version-info">
        <caption>
            <h3 lang="en">Disclaimers</h3>
            <h3 lang="fr">Non-responsabilité </h3>
            <h3 lang="ar" dir="rtl">إخلاء المسؤولية </h3>
        </caption>
        <tbody>
            <tr>
                <th scope="row"><img src="https://img.icons8.com/ios/50/000000/safe-browsing.png" /></th>
                <td class="disclaimers" lang="en"><small>This website do not collect "any" data whatsoever. Try
                        going offline and it works. If you are a tech savvy check browser's developer
                        console.</small></td>
                <td class="disclaimers" lang="fr"><small>Ce site Web ne collecte «aucune» donnée. Essayez de
                        vous déconnecter et ceci fonctionne. Si vous êtes un(e) geek(ette), vérifiez la console
                        développeur du navigateur. </small></td>
                <td class="disclaimers" lang="ar" dir="rtl"><small>هذا الموقع لا يجمع "أي" بيانات على الإطلاق.
                        يمكنك قطع الاتصال بالانترنت. إذا كنت خبيرًا تقنيًا ، يمكنك التحقق من أدوات تطوير
                        المواقع. </small></td>
            </tr>
            <tr>
                <th scope="row"><img src="https://img.icons8.com/wired/50/000000/one-free.png" /></th>
                <td class="disclaimers" lang="en"><small>It is completely free too. It does not show
                        advertisements and will not do so in the future. You can still help me stay motivated by
                        donating via Paypal.</small></td>
                <td class="disclaimers" lang="fr"><small>Ce site est également 100% gratuit. On n'affiche pas de
                        publicités et ne le fera pas à l'avenir. Vous pouvez toujours m'aider à rester motivé en
                        faisant un don Paypal. </small></td>
                <td class="disclaimers" lang="ar" dir="rtl"><small>إنه مجاني تمامًا أيضًا. لا تعرض أية إعلانات
                        ولن تفعل ذلك في المستقبل. لا يزال بإمكانك مساعدتي لالبقاء متحمسًا من خلال التبرع عبر
                        Paypal.</small></td>
            </tr>
            <tr>
                <th scope="row"><img src="https://img.icons8.com/wired/50/000000/private2.png" /></th>
                <td class="disclaimers" lang="en"><small>It is not encrypted. If you share your QR Code then you
                        obviously did it. It is still secure as it does not communicate with remote
                        servers.</small></td>
                <td class="disclaimers" lang="fr"><small>Ce site n'est pas chiffré. Si vous partagez votre QR
                        Code, vous l'avez simplement fait. En revanche Il est sécurisé car il ne communique pas
                        avec des serveurs distants.</small></td>
                <td class="disclaimers" lang="ar" dir="rtl"><small>هذا الموقع غير مشفر. إذا تبادلت "رمز
                        الاستجابة السريعة" الخاص بك ، فمن الواضح أنك قمت بذلك. مع ذلك يبقى الموقع آمنًا لأنه لا
                        يتصل بالانترنت.</small></td>

            </tr>
            <tr>
                <th scope="row"><img src="https://img.icons8.com/wired/50/000000/girl-running.png" /></th>
                <td class="disclaimers" lang="en"><small>We take no responsibility of usernames or links you
                        claim is yours. We do no verification neither.</small></td>
                <td class="disclaimers" lang="fr"><small>Nous déclinons toute responsabilité quant aux noms
                        d'utilisateur ou aux liens que vous prétendez être les vôtres. Nous ne faisons aucune
                        vérification non plus. </small></td>
                <td class="disclaimers" lang="ar" dir="rtl"><small>نحن لا نتحمل أي مسؤولية عن أسماء المستخدمين
                        أو الروابط التي تدعي أنها ملكك. نحن لا نقوم بالتحقق كذلك</small></td>
            </tr>
        </tbody>
    </table>
</details>