<!-- <meta http-equiv="Content-Security-Policy" content="default-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com https://0.peerjs.com wss://0.peerjs.com https://demo.httprelay.io; 
script-src 'self' 'unsafe-inline' https://unpkg.com https://ajax.googleapis.com; 
object-src 'self'; 
img-src 'self' data: https://img.icons8.com https://cdnjs.cloudflare.com; 
child-src 'none';"> -->

<meta charset='utf-8'>
<meta name="description" content="Share your social contacts in one card. We do not collect any data whatseoever.">
<meta name="keywords" content="social, media, contacts, snapchat, whatsapp, twitter, facebook">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name='viewport' content='width=device-width, initial-scale=1'>
<!-- <link rel="icon" type="image/png" href="favicon.png" /> -->
<title>Social cards on so-c.me</title>
<link rel='stylesheet' type='text/css' media='screen' href='/stylesheets/main.css'>
<script type="text/javascript" src="/javascripts/stretchy.min.js" async></script>
<link rel="stylesheet" type='text/css' href="/stylesheets/water.css">
<link rel="stylesheet" crossorigin="anonymous"
href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<script type="text/javascript" src="/javascripts/qrcode.min.js" async></script>
<script type="text/javascript" src="/javascripts/share-buttons.js" async></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>